/* .nav {
  height: 96px;
  position: fixed;
  right: 0;
  width: 100vw;
  z-index: 300;
  pointer-events: none;
} */

.burger___Menu {
  pointer-events: auto;
  border: 2px solid #000;
  background-color: var(--violet);
  top: 2vw;
  left: 2vw;
  width: auto;
  padding-left: 10px;
  position: fixed;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 6px 6px 0 0 #000;
  box-shadow: 6px 6px 0 0 #000;
  z-index: 300;
}
.scrolled {
  /* -webkit-transform: translate3d(40px, 50px, 0) rotate(90deg); */
  transform: translate3d(-4vw, 50px, 0) rotate(90deg);
  /* left: 0vw; */
}

.menu___Switch {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 4px;
  padding: 8px;
  padding-left: 20px;
}
.switch___One {
  transform: translate3d(2px, 0, 0);

  background-color: #000;
  height: 5px;
  width: 19px;
  /* -webkit-transition: 0.3s; */
  transition: 0.3s;
}

.switch___Two {
  background-color: #000;
  height: 5px;
  width: 38px;
  /* -webkit-transition: 0.3s; */
  transition: 0.3s;
}

.switch___Three {
  /* -webkit-transform: translate3d(6px, 0, 0); */
  transform: translate3d(17px, 0, 0);
  background-color: #000;
  height: 5px;
  width: 19px;
  /* -webkit-transition: 0.3s; */
  transition: 0.3s;
}
@media only screen and (max-width: 900px) {
  .burger___Menu h3 {
    display: none;
  }
  .burger___Menu {
    width: 61px;
    padding: 0;
  }
  .menu___Switch {
    padding: 10px;
  }
}
