.section___Home {
  background-color: var(--purple);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home___Hero {
  font-size: 4rem;
  line-height: 2;
  text-align: center;
  width: 55vw;
  color: var(--yellow);
}
@media only screen and (max-width: 900px) {
  .home___Hero {
    font-size: 1.5rem;
    width: 80vw;
  }
}
